<p class="card card-body">
  <strong>City:</strong>
  <%= @city.city_name %>
  <strong>Region:</strong>
  <%
    region = Region.find_by(id: @city.region_id)
    if region
  %>
    <%= region.region_name %>
    <strong>Region ID:</strong>
    <%= region.id %>
    <strong>Country:</strong>
    <% country = Country.find_by(id: region.country_id)
       if country %>
      <%= country.country_name %>
      <strong>Country ID:</strong>
      <%= country.id %>
    <% else %>
      No such a country with id <%= region.country_id %>
    <% end %>
  <% else %>
    No such a region with id <%= city.region_id %>
  <% end %>
</p>


<%= link_to 'Edit', edit_city_path(@city), class: 'btn btn-primary'%>
<%= link_to 'Back', cities_path, class: "btn btn-dark" %>
