<% def edit_region(region) %>
  <%= render 'form', region: region %>
<% end %>

<table class="table table-hover table-striped">
  <thead class=" table-info">
  <tr>
    <th>Region ID</th>
    <th>Region name</th>
    <th>Country name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody style="background-color: rgba(255,184,234,0.23)">
  <% @regions.each do |region| %>
    <tr class="align-middle">
      <td><%= region.id %></td>
      <td><%= region.region_name %></td>
      <td>
        <%
          country = Country.find_by(id: region.country_id)
          if country
        %>
          <%= country.country_name %>
        <% else %>
          Invalid country ID (<%= region.country_id %>)
        <% end %>

      </td>
      <td><%= link_to '', edit_region(region) %></td>
      <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-dark" onclick="$('#newRegionForm').show()">
  Add a new region
</button>
<br/>
<br/>

<div id="newRegionForm" style="display: none">
  <% @region = Region.new %>
  <%= render 'form', region: @region %>
</div>
<br><br>