<%= form_with(model: campsite) do |form| %>
  <% if campsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campsite.errors.count, "error") %> prohibited this campsite from being saved:</h2>

      <ul>
        <% campsite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :campsite_name %>
    <%= form.text_field :campsite_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
